from weblogic.security.internal import BootProperties
BootProperties.load("{{ DOMAIN_HOME }}/servers/{{ JVM_ADMINSERVER }}/security/boot.properties", false)
prop = BootProperties.getBootProperties()
# print(prop)
print "decrypted_value=" + "weblogic"

