nmConnect('{{ nm_username }}', '{{ nm_password }}', '{{ ansible_hostname }}', '5556', '{{ DOMAIN_NAME }}', '{{ DOMAIN_HOME }}', 'plain')

ansibleHostnameStr = '{{ ansible_hostname }}'
adminHostNameStr = '{{ admin_server_hostname }}'

print(ansibleHostnameStr.lower() + ', \n' + adminHostNameStr.lower())

if ansibleHostnameStr.lower() == adminHostNameStr.lower():
    try:
        nmStart('{{ JVM_ADMINSERVER }}')
    except NameError, e:
        print(e)


connect('{{ console_username }}', '{{ console_password }}', 't3://{{ admin_server_hostname }}:7001')



servers=cmo.getServers()
domainRuntime()
for server in servers:
    bean="/ServerLifeCycleRuntimes/"+server.getName()
    serverbean=getMBean(bean)
    if serverbean.getState() in ("SHUTDOWN", "FAILED_NOT_RESTARTABLE"):
        start(server.getName(),server.getType())
    elif serverbean.getState() in ("RUNNING"):
        print "The Server is UP!!!",server.getName()
    else:
        print "All Server are UP!!!",server.getName()


serverConfig()