serversToStop = []
listenAddressList = []
hostname = '{{ ansible_hostname }}'

def connectToAdmin():
    print("[INFO] Connecting to server...")
    connect('{{ console_username }}', '{{ console_password }}', 't3://{{ admin_server_hostname }}:7001')

def getServers():
    print("[INFO] Getting servers list...")
    servers = cmo.getServers()
    
    for server in servers:
        serverListenAddress = server.getListenAddress()
        listenAddressList.append(serverListenAddress)
        serverName = str(server)
        if serverListenAddress == hostname:
            serversToStop.append(server.getName())

    print("[INFO] Verifying servers to shutdwon...")
    for server in servers:
        serverName = str(server)
        if 'admin' in serverName.lower() and hostname not in listenAddressList:
            serversToStop.append(server.getName())

def shutdownServers():
    print("[INFO] Shuttingdown the servers...")
    for server in serversToStop:
        print("[INFO] shuttingdown the server", server)
        shutdown(server)
        
connectToAdmin()
getServers()
shutdownServers()