import socket

adminHostName = '{{ admin_server_hostname }}'
curentHostName = '{{ ansible_hostname }}'

def hostListenAddTreatment(host, toFind):
    strHost = str(host.lower())
    if toFind in strHost:
        return strHost[(strHost.rfind(toFind))+8:(strHost.rfind(toFind))+13]

def hostToConsole(host, toFind):
    strHost = str(host.lower())
    if toFind in strHost:
        return strHost[(strHost.rfind(toFind)):(strHost.rfind(toFind))+13]

def is_port_open(host, port):
    try:
        s = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
        s.settimeout(2)
        s.connect((host, port))
        s.close()
        return True
    except:
        return False

nmConnect('{{ nm_username }}', '{{ nm_password }}', '{{ ansible_hostname }}', '5556', '{{ DOMAIN_NAME }}', '{{ DOMAIN_HOME }}', 'plain')
###################    MUDAR AQUI
if is_port_open(hostToConsole(adminHostName, 'gncas'), 7001):
    if str(hostListenAddTreatment(curentHostName, 'gncas')) == str(hostListenAddTreatment(adminHostName, 'gncas')):
        nmStart('{{ JVM_ADMINSERVER }}')



connect('{{ console_username }}', '{{ console_password }}', 't3://'+hostToConsole(adminHostName, 'gncas')+':7001')



servers = cmo.getServers()
domainRuntime()
for server in servers:
    print('oiii', server)
    if hostListenAddTreatment(curentHostName, 'gncas') == hostListenAddTreatment(server.getListenAddress(), 'gncas'):
        serverbean=getMBean("/ServerLifeCycleRuntimes/"+server.getName())
        
        if serverbean.getState() in ("SHUTDOWN", "FAILED_NOT_RESTARTABLE"):
            serverConfig()
            start(server.getName(),server.getType())
            domainRuntime()
        elif serverbean.getState() in ("RUNNING"):
            print "The Server is UP!!!",server.getName()
        else:
            print "All Server are UP!!!",server.getName()

