listenAddressList = []
adminHostName = '{{ admin_server_hostname }}'
curentHostName = '{{ ansible_hostname }}'


def hostListenAddTreatment(host, toFind):
    strHost = str(host.lower())
    if toFind in strHost:
        return strHost[(strHost.rfind(toFind))+8:(strHost.rfind(toFind))+13]

def hostToConsole(host, toFind):
    strHost = str(host.lower())
    if toFind in strHost:
        return strHost[(strHost.rfind(toFind)):(strHost.rfind(toFind))+13]


connect('{{ console_username }}', '{{ console_password }}', 't3://'+hostToConsole(adminHostName, 'gncas')+':7001')
servers = cmo.getServers()

for server in servers:
    listenAddressList.append(hostListenAddTreatment(server.getListenAddress(), 'gncas'))


for server in servers:
    serverListenAddress = str(server.getListenAddress())
    if hostListenAddTreatment(curentHostName, 'gncas') == hostListenAddTreatment(server.getListenAddress(), 'gncas'):  
        shutdown(server.getName())


for server in servers:
    if 'admin' in server.getName().lower() and str(hostListenAddTreatment(curentHostName, 'gncas')) == str(hostListenAddTreatment(adminHostName, 'gncas')):
        shutdown(server.getName())